body
{
  font-family: Helvetica;
  font-size: 14px;
  margin: 20px;
  padding: 0;
  background: #000;
  color: #FFF;
  font-size: 1em;
  line-height: 1.4em;
}

h1
{
  font-size: 1.3em;
  color: #E16D2E;
}

a
{
  color: #FFF5DB;
}